<optgroup label="Sumatra">
    <option value="BL">BL – Aceh</option>
    <option value="BK">BK – Sumatera Utara</option>
    <option value="BA">BA – Sumatera Barat</option>
    <option value="BM">BM – Riau</option>
    <option value="BP">BP – Kepulauan Riau</option>
    <option value="BH">BH – Jambi</option>
    <option value="BD">BD – Bengkulu</option>
    <option value="BG">BG – Sumatera Selatan</option>
    <option value="BN">BN – Bangka Belitung</option>
    <option value="BE">BE – Lampung</option>
</optgroup>

<optgroup label="Jawa & Banten">
    <option value="A">A – Banten</option>
    <option value="B">B – DKI Jakarta, Bekasi, Depok, Tangerang</option>
    <option value="D">D – Bandung</option>
    <option value="E">E – Cirebon, Indramayu</option>
    <option value="F">F – Bogor, Sukabumi</option>
    <option value="G">G – Pekalongan, Tegal</option>
    <option value="H">H – Semarang, Kendal</option>
    <option value="K">K – Kudus, Pati, Jepara</option>
    <option value="R">R – Banyumas, Cilacap</option>
    <option value="AA">AA – Magelang, Wonosobo</option>
    <option value="AD">AD – Surakarta, Klaten</option>
    <option value="AB">AB – Yogyakarta</option>
</optgroup>

<optgroup label="Jawa Timur & Madura">
    <option value="L">L – Surabaya</option>
    <option value="M">M – Madura</option>
    <option value="N">N – Malang</option>
    <option value="P">P – Jember, Banyuwangi</option>
    <option value="S">S – Jombang, Mojokerto</option>
    <option value="W">W – Sidoarjo, Gresik</option>
    <option value="AE">AE – Madiun, Ngawi</option>
    <option value="AG">AG – Kediri, Blitar</option>
</optgroup>

<optgroup label="Bali & Nusa Tenggara">
    <option value="DK">DK – Bali</option>
    <option value="DR">DR – Lombok (NTB)</option>
    <option value="EA">EA – Sumbawa (NTB)</option>
    <option value="EB">EB – Flores (NTT)</option>
    <option value="ED">ED – Sumba (NTT)</option>
    <option value="DH">DH – Timor (NTT)</option>
</optgroup>

<optgroup label="Kalimantan">
    <option value="DA">DA – Kalimantan Selatan</option>
    <option value="KB">KB – Kalimantan Barat</option>
    <option value="KH">KH – Kalimantan Tengah</option>
    <option value="KT">KT – Kalimantan Timur</option>
    <option value="KU">KU – Kalimantan Utara</option>
</optgroup>

<optgroup label="Sulawesi">
    <option value="DB">DB – Sulawesi Utara</option>
    <option value="DL">DL – Sitaro/Sangihe/Talaud</option>
    <option value="DC">DC – Sulawesi Barat</option>
    <option value="DD">DD – Sulawesi Selatan</option>
    <option value="DN">DN – Sulawesi Tengah</option>
    <option value="DT">DT – Sulawesi Tenggara</option>
    <option value="DM">DM – Gorontalo</option>
</optgroup>

<optgroup label="Maluku & Papua">
    <option value="DE">DE – Maluku</option>
    <option value="DG">DG – Maluku Utara</option>
    <option value="PA">PA – Papua</option>
    <option value="PB">PB – Papua Barat</option>
</optgroup>

<optgroup label="Kode Khusus">
    <option value="RI">RI – Pejabat Negara</option>
    <option value="TNI">TNI – Tentara Nasional Indonesia</option>
    <option value="POL">POL – Kepolisian</option>
    <option value="CD">CD – Diplomat</option>
    <option value="CC">CC – Konsulat</option>
</optgroup>